{% extends 'base.html'%}


{% block title%}
    acomodadores
{% endblock%}

{% block contenido%}
    <div class" row mt-3 justify-content-center">
        <h3>Acomodadores</h3>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Acomodador uno</th>
                <th scope="col">Acomodador dos</th>
                <th scope="col">Opciones</th>

            </tr>
        </thead>
        <tbody>
            {% if listacomo %}
            {% for a in listacomo %}
            <tr>
                <td>{{a.fecha|date:'d-m-Y'}}</td>
                <td>{{a.voluntarioUno}}</td>
                <td>{{a.voluntarioDos}}</td>
                <td>
                    <a class=" " href="/admin/funciones/acomodador/{{a.acomodador_Id}}/change/">Cambiar</a>
                    <a class="" href="/admin/funciones/acomodador/{{a.acomodador_Id}}/delete/">Borrar</a>
                    <a class="" href="/admin/funciones/acomodador/add/">+</a>
                </td>

            </tr>
            {%endfor%}
            {% endif %}
        </tbody>
    </table>
    
{% endblock%}

