{% extends "base.html" %}

{% block title %}
    Asignados
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row  text-center">
        <h3>Asignados a funciones de congregacion</h3>      
    </div>

    <div class="row ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link"href="/plataforma/"><h4 >Plataforma</h4></a>
                    {% if listaplat %}
                    <table class="table">
                        {% for p in listaplat %}

                        <tr>
                            <td>
                                {{p.fecha|date:'d-m-Y'}}
                            </td>
                            <td>
                                {{p.voluntario_Id}}
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos asignados a atender los microfono de la plataforma durante las reuniones.</small>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link" href="/zoom/">
                        <h4>Zoom</h4></a>
                        {% if listazoom %}
                        <table class="table">
                            {% for z in listazoom %}
                            <tr>
                                <td>
                                    {{z.fecha|date:'d-m-Y'}}
                                </td>
                                <td>
                                    {{z.voluntario_Id}}
                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                        {% endif %}
</div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos encargados de permitir entrada a zoom y activar los microfonos virtuales durante los comentaarios en las reuniones.</small>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link" href="/acomodadores/">
                        <h4>Acomodadores</h4></a>
                        {% if listacomo %}

                        <table class="table">
                            {% for a in listacomo %}
                            <tr>
                                <td>
                                    {{a.fecha|date:'d-m-Y'}}
                                </td>
                                <td>
                                    {{a.voluntarioUno}}
                                </td>
                                <td>
                                    {{a.voluntarioDos}}
                                </td>
                            </tr>
                            {%endfor%}
                        </table>

                        {% endif %}
</div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos asignados a recibir y buscarle puestos a los visitantes durante las reuniones.</small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link" href="/microfonos/">
                        <h4>Microfonos</h4></a>
                        {% if listamicr %}
                        <table class="table">
                            {% for m in listamicr %}
                            <tr>
                                <td>
                                    {{m.fecha|date:'d-m-Y'}}
                                </td>
                                <td>
                                    {{m.voluntarioUno}}
                                </td>
                                <td>
                                    {{m.voluntarioDos}}
                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                        {% endif %}
</div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos encargados de pasar el microfono durante los comentarios en las reuniones.</small>
                </div>
            </div>
        </div>



    </div>
    <br />
    <div class="row ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link" href="/presidentes/">
                        <h4>Presidentes</h4></a>
                        {% if listapres %}

                        <table class="table">
                            {% for p in listapres %}
                            <tr>
                                <td>
                                    {{p.fecha|date:'d-m-Y'}}
                                </td>
                                <td>
                                    {{p.voluntario_Id}}
                                </td>

                            </tr>
                            {%endfor%}
                        </table>

                        {% endif %}
</div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos asignados a presidir la reunion publica.</small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-ligth card-title text-center nav-link" href="/lectores/">
                        <h4>Lectores</h4></a>
                        {% if listalect %}
                        <table class="table">
                            {% for l in listalect %}
                            <tr>
                                <td>
                                    {{l.fecha|date:'d-m-Y'}}
                                </td>
                                <td>
                                    {{l.voluntario_Id}}
                                </td>

                            </tr>
                            {%endfor%}
                        </table>
                        {% endif %}
</div>
                <div class="card-footer">
                    <small class="text-muted">Lista de hermanos encargados de leer la atalaya.</small>
                </div>
            </div>
        </div>



    </div>






</div>
{% endblock %}
