
{% extends 'base.html'%}


{% block title%}
    plataforma
{% endblock%}

{% block contenido%}
<div class"row mt-2">
    <div class="col-lg-6">
        <h3>Plataforma</h3>
    </div>


</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombres</th>
            <th scope="col">Opciones</th>
            <th scope="col">Agregar</th>
        </tr>
    </thead>
    <tbody>
        {% if listaplat %}
        {% for asignado in listaplat %}
        <tr>
            <td>{{asignado.fecha|date:'d-m-Y'}}</td>
            <td>{{asignado.voluntario_Id}}</td>
            <td><a class=" nav-link" href="/admin/funciones/plataforma/{{asignado.plataf_Id}}/change/">Cambiar</a></td>
            <td><a class=" nav-link" href="/admin/funciones/plataforma/add/">Otro</a></td>

        </tr>
        {%endfor%}
        {% endif %}
    </tbody>
</table>

{% endblock%}

