{% extends 'base.html'%}


{% block title%}
    Zoom
{% endblock%}

{% block contenido%}
    <div class" row mt-3 justify-content-center">
        <h3> Zoom</h3>
    </div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Nombres</th>
                <th scope="col">Opciones</th>
                <th scope="col">Agregar</th>
            </tr>
        </thead>
        <tbody>
            {% if listazoom %}
                {% for z in listazoom %}
            <tr>
                <td>{{z.fecha|date:'d-m-Y'}}</td>
                <td>{{z.voluntario_Id}}</td>

                <td><a href="/admin/funciones/zoom/{{z.Zoom_Id}}/change/">Cambiar</a></td>
                <td>Otro</td>
            </tr>
                {%endfor%}
            {% endif %}
        </tbody>
    </table>
{% endblock%}

